@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #181818;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-blue-primary: #0078d4;
  --color-blue-keyword: #569CD6;
  --color-green-entity: #4EC9B0;
  --color-green-comment: #6A9955;
  --color-orange-string: #CE9178;
  --color-grey-darker: #181818;
  --color-grey-dark: #1F1F1F;
  --color-grey: #2B2B2B;
  --color-grey-light: #CCCCCC;

  --font-code: Consolas;
}

.font-code {
  font-family: var(--font-code);
}

.color-keyword {
  color: var(--color-blue-keyword);
}

.color-entity {
  color: var(--color-green-entity);
}

.color-comment {
  color: var(--color-green-comment);
}

.color-string {
  color: var(--color-orange-string);
}

.bg-grey-darker {
  background-color: var(--color-grey-darker);
}

.bg-grey-dark {
  background-color: var(--color-grey-dark);
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: var(--color-blue-keyword);
}